* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Beausite';
  text-decoration-thickness: 0.2rem;

  &:focus {
    outline: none;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

body {
  overflow: hidden;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $c-p;
  display: grid;
  grid-template-columns: 1fr 3rem;
  grid-template-rows: auto;
  overflow: hidden;
  height: 100vh;

  h1,
  h2 {
    text-transform: uppercase;
    font-weight: normal;
    color: $c-p-dark;
  }

  h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin-bottom: 4rem;
    margin-right: 1rem;
    text-decoration: underline;
  }

  h2 {
    font-size: 1rem;
    line-height: 1rem;
    width: 100%;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid $c-p;
  }

  p {
    color: $c-p;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;

    a {
      color: $c-p-dark;
      text-decoration: underline;
      font-weight: bold;
    }
  }

  button,
  a {
    cursor: pointer;
  }

  button {
    background-color: $c-s;
    padding: 0rem 0.25rem 0 0.25rem;
    border: none;
    color: $c-p;

    &.active,
    &:hover {
      text-decoration: underline;
    }
  }

  input,
  textarea {
    resize: none;
    outline: none;
    background-color: $c-s;
    border-radius: 0;
    padding: 0rem 0.25rem 0 0.25rem;
    border: 1px solid $c-p;
    color: $c-p;
    // min-width: 200px;

    &:focus {
      border-color: $c-p-dark;
    }

    &[type='range'] {
      -webkit-appearance: none; /*nécessaire pour Chrome */
      padding: 0; /* nécessaire pour IE */
      font: inherit;

      &::-webkit-slider-runnable-track {
        height: inherit;
        border-radius: 0;
        padding: 0.25rem;
        cursor: ew-resize;
      }

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 1rem;
        height: 1rem;
        border-radius: 0;
        background-color: $c-p;
        cursor: grab;
      }
    }
  }
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  #app {
    grid-template-columns: 1fr 2rem;
  }
}
